{% extends "base.html" %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'clientes/css/clientes.css' %}">
{% endblock %}

{% block 'dashboard' %}
<div class="container">
    <div class="row">

        <div onclick="exibir_form('1')" class="col-md card-dashboard">
            <p class="text-card">Adicionar clientes</p>
        </div>

        <div onclick="exibir_form('2')" class="col-md card-dashboard">
            <p class="text-card">Atualizar cliente</p>
        </div>

    </div>

    <div id="adicionar-cliente" class="adicionar-cliente">
        <form action="{% url "clientes" %}" method="POST"> 
            {% csrf_token %}

            <div class="col-md">
                <p>Nome:</p>
                <input type="text" class="form-control" placeholder="Primeiro nome" name="nome" value="{{ nome|default:'' }}">
            </div>
            <div class="col-md">
                <p>Sobrenome:</p>
                <input type="text" class="form-control" placeholder="Sobrenome" name="sobrenome" value="{{ sobrenome|default:'' }}">
            </div>
            <br>
            <p>E-mail:</p>
            <input type="email" class="form-control" placeholder="nome@email.com" name="email" value="{{ email|default:'' }}">
            <br>
            <p>CPF:</p>
            <input type="text" class="form-control" placeholder="___.___.___-__" name="cpf" value="{{ cpf|default:'' }}">
            <hr style="background-color:gray;">

            <div class="add-carros">
                <h3>Motos</h3>
                <span class="btn-add-carros" onclick="add_carro()">+ Adicionar uma Moto</span>
                <div id="form-carro">
                    {% for carro, placa, ano  in carros %}
                        <div class="row">
                            <div class="col-md">
                                <input type="text" placeholder="carro" class="form-control" name="carro" value="{{carro}}">
                            </div>
                            <div class="col-md">
                                <input type="text" placeholder="placa" class="form-control" value="{{placa}}">
                            </div>
                            <div class="col-md">
                                <input type="text" placeholder="ano" class="form-control" value="{{ano}}">
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
  
            <br>
            <input type="submit" value="Cadastrar" class="btn-principal">
        </form> 
    </div>

    <div id="att_cliente">
        <p>Cliente:</p>
        <select id="cliente-select" onchange="dados_cliente()" class="form-control">
            <option value=""></option>
            {% for cliente in clientes %}
                <option value="{{cliente.id}}">{{cliente.nome}}</option>
            {% endfor %}
        </select>
        <br>
        <hr>

        <div id="form-att-cliente">
            <input type="hidden" id="id">
            <p>Nome:</p>
            <input id="nome" type="text" class="form-control">
            <p>Sobrenome:</p>
            <input id="sobrenome" type="text" class="form-control">
            <p>E-mail</p>
            <input id="email" type="text" class="form-control">
            <p>CPF:</p>
            <input id="cpf" type="text" class="form-control">
            <br>
            <input onclick="update_cliente()" type="submit" value="Salvar" class="btn btn-success">
            <hr style="background-color: gray;">
            <h2>Motos</h2>

            <div id="carros">
    <!-- Renderiza o formulário de carros -->
    {% for carro in data.carros %}
        <form action="/clientes/update_carro/{{ carro.id }}/" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-md">
                    <input class="form-control" type="text" name="carro" value="{{ carro.carro }}">
                </div>
                <div class="col-md">
                    <input class="form-control" type="text" name="placa" value="{{ carro.placa }}">
                </div>
                <div class="col-md">
                    <input class="form-control" type="text" name="ano" value="{{ carro.ano }}">
                </div>
                <div class="col-md">
                    <input class="btn btn-success" type="submit" value="Submeter pedido">
                </div>
            </div>
        </form>
        <div class="col-md">
            <a class="btn btn-danger" href="/clientes/excluir_carro/{{ carro.id }}">EXCLUIR</a>
        </div>
        <hr>
    {% endfor %}
</div>

        </div>
    </div>

</div>
<script src="{% static 'clientes/js/clientes.js' %}"></script>
{% endblock %}
