{% extends "base.html" %}

{% block 'dashboard' %}
<h2>Lista de Agendamentos</h2>
<table border="1">
    <tr>
        <th>Nome</th>
        <th>Telefone</th>
        <th>Serviço</th>
        <th>Data</th>
    </tr>
    {% for agendamento in agendamentos %}
    <tr>
        <td>{{ agendamento.nome }}</td>
        <td>{{ agendamento.telefone }}</td>
        <td>{{ agendamento.servico }}</td>
        <td>{{ agendamento.data_agendamento }}</td>
    </tr>
    {% endfor %}
</table>
<a href="{% url 'criar_agendamento' %}">Novo Agendamento</a>
{% endblock %}
